<div class="content">

	<div class="heading">
		<h2>The A Pile</h2>
	</div>

	<h1></h1>

	<div class="intro">

		<h3>Looking to fund your next business school trip to Miami?  </h3> 
		<h3 id="left-align">Come sign up for "The A Pile", an online marketplace where MBA students offer their services to help job seekers and college applicants get their application materials in the best shape possible.  <br></br>The site allows a customer to search through a database of current MBA students and pick the one that can provide the most relevant feedback on their resume, cover letter, application essay, or interview preparation.  Reviewers are all students at the top MBA programs (HBS, Sloan, GSB, Wharton) and they set their own price for each review type.</h3>

		<h3></h3>

		<h3>Why "The A Pile"?</h3>

		<div class="keypoints">
		<ol>
				<b><li>Make some money while you're in school </li></b>
				<ul>
					<li>You pick your price for each review type (e.g., resume, essay, interview), so you get fully compensated for anything you do</li>
				</ul>
				<b><li>Be fully in control with how much work you'd like to do</li></b>
				<ul>
					<li>You decide what type of reviews you'd like to do (resume review - yes, mock interview - no)</li>
					<li>You decide how much work you'd like to receive (once a week? more?)</li>
				</ul>
				<b><li>Get paid without a big time commitment</li></b>
				<ul>
					<li>Diverse/large set of reviewers ensure you only get picked by the person who really needs you</li>
					<li>Set your price so you only get the customers who are worth it to you</li>
					<li>Turn off your availability (or quit) at any time by sending us a quick email</li>
					<li>Option to conduct only one review at a time (if you want to do more, that's fine too!)</li>
					<li>Have 7 days to finish each review</li>
					<li>We handle all communication with the customer (e.g., exchanging revised resumes, questions/feedback, etc.) so you don't have to deal with it</li>
				</ul>
		</ol>
		</div>
	</div>

	<br></br>
	<h1></h1>

	<div class="steps">
		<h2>How It Works</h2>
	</div>

	<h1 class="linebreak">_</h1>

	<div class="step1">
	<h2>1. Customer selects a review type and industry/school preference</h2>
	<h3 id="left-align"><u>Review Types:</u> Resume Review, Cover Letter Review, Application Essay Review, Mock Interviews</h3>
	<h3 id="left-align"><u>Industries:</u> Financial Services, Technology, Healthcare, Consulting, etc.</h3>
	<h3 id="left-align"><u>Schools:</u> HBS, Sloan, GSB, Wharton, etc.</h3>
	</div>

	<h1 class="linebreak">_</h1>

	<h2>2. Customer browses for the most relevant reviewer closest to their price point</h2>
	<%= image_tag "WIP_SearchResultsD.png" %>

	<h1 class="linebreak">_</h1>

	<h2>3. Customer reviews detailed reviewer info and selects reviewer</h2>
	<%= image_tag "WIP_SearchResultsProfile.jpg" %>

	<h1 class="linebreak">_</h1>

	<h2>4. Reviewer gets application materials, reviews documents, and gets paid!</h2>

	<h1 class="linebreak">_</h1>

	<div class="steps">
		<h2>Signing Up</h2>
	</div>

	<h1 class="linebreak">_</h1>

	<div class="signup">

		<h2>If you'd like to be a reviewer, please do the following items</h2>

		<h3 id="left-align">1. Fill out this short form <a href="https://docs.google.com/forms/d/1HKmx0mjp-8j_67lD8e8pc2EOOtntEQmhFYZTD_4LeaA/edit">(here)</a></h3>

		<h3 id="left-align">2. Send your resume to support@theApile.com</h3>

		<h2 id="special">That's it!  Thanks for signing up!</h2>
		<h4 id="sepcial">For more information please refer to our FAQ <a href="https://docs.google.com/document/d/1eikD2ad2SMA-ik_Y-7guvbElvzW2FBPpmWdKt_zbcYk/edit">(here)</a></h4>
	</div>

		<h1 class="linebreak">_</h1>
		<h1 class="linebreak">_</h1>











</div>
