<div class="content">


	<div class="title">
		<img alt="Google" height="95" src="https://www.google.com/images/srpr/logo11w.png" width="269" id="hplogo" onload="window.lol&amp;&amp;lol()" style="padding-top:112px">
	</div>

	<div class="search-bar">
		<form action="#" method="POST">
			<input type="text">
		</form>
	</div>

	<div class="search-bar-buttons">
		<input type="submit" value="Google Search">
		<input type="submit" value="I'm Feeling Lucky">
	</div>





</div>
