// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content{
	padding-top: 10px;
	display: block;
/*	text-align: -webkit-center;*/
	text-align: center;
}

.content .heading{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
/*	background: url('white2.png');
	background-repeat: repeat;*/
	width: 950px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;


}

#left-align{
	text-align: left;

}


ul li{
	margin-left: 25px;
	list-style-type: circle;
}

.intro{
	width: 850px;
	background: url('white2.png');
	background-repeat: repeat;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

.linebreak{
	line-height: 25px;
	color: white;
	opacity: 1.0;
}

.intro h3{
	margin-left: 30px;
	margin-right: 30px;
}

.keypoints{
	text-align: left;
	margin-left: 330px;
	margin-right: 330px;
}

.signup{

	height: 300px;

}

.content .steps{
	width: 450px;
	background: url('black.png');
	background-repeat: repeat;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 15px;
	color: ghostwhite;
	margin-left: auto;
	margin-right: auto;
}

.step1{
	margin-left: 330px;
	margin-right: 330px;
}

.signup{
	margin-left: 330px;
	margin-right: 330px;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	height: 210px;
	border-style: solid;
}

.signup #left-align{
	margin-left: 80px;
}

#special pre{
	margin: 0px;
}


/*.content .steps h2{
	margin-top: 5px;
	margin-bottom: 5px;
}*/


.search-bar input{
	height: 27px;
	width: 541px;
}

.search-bar-buttons input{
	font-size: 11px;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: auto;
	height: 29px;
	font-variant: normal;
	font-family: 'Lucida Grande';
	text-align: center;
	text-decoration: none solid rgb(68, 68, 68);
	color: rgb(68, 68, 68);
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #dcdcdc;
	border-bottom-color: rgba(0, 0, 0, 0.0980392);
	border-left-color: rgba(0, 0, 0, 0.0980392);
	border-right-color: rgba(0, 0, 0, 0.0980392);
	border-top-color: rgba(0, 0, 0, 0.0980392);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	background-clip: border-box;
	/*background-origin: padding-box; */

}

.search{
	height: 27px;
	width: 96px;
}